.servicesSetion {
  width: 100%;
  /* height: 160vh; */
  background: var(--background-color-light);
  position: relative;
  padding: 30px;
  margin-bottom: 5rem;
}

.title {
  margin: 0;
  color: var(--font-color);
  font-size: 4rem;
  padding-top: 0.5rem;
  text-align: center;
}

.subtitle {
  margin: 0;
  color: var(--font-color);
  font-size: 2rem;
  text-align: center;
}

.services-description {
  font-size: 120px;
  text-align: center;
  color: black;
  background: burlywood;
  z-index: 2;
  position: absolute;
}

.serviceContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1500px;
  padding-bottom: 7rem;
}


@media only screen and (max-width: 1024px) {
  .servicesSetion {
    padding: 0.9rem 2rem 5rem;
    height: auto;
  }

  .serviceContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 100rem
  }

}

@media only screen and (max-width: 764px) {
  .serviceContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

}