.home {
    width: 100wh;
    height: 100vh;
    position: relative;
}

.home .bgImg {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    opacity: .4;
    background: url(../../../images/home_img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home_description {
    font-size: 18px;
    text-align: left;
    color: var(--font-color-light);
    font-weight: bold;
    position: absolute;
    top: 55%;
    font-family: Tohoma;
    left: 120px;
}

.home_name {
    font-size: 4rem;
    margin: 0px;
}

.home_responsibility {
    font-size: larger;
    margin: 1rem 0;
}

@media only screen and (max-width: 740px) and (max-width: 1024px) {
    .home_description {
        font-size: 15px;
        left: 20px;
    }
    
    .home_name {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
    .home_description {
        left: 60px;
        top: 30%;
        font-size: 0.7rem;
    }
}

/* =============================== scroll down ===================== */
.scroll_down {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.mouse {
    display: flex;
    width: 1rem;
    height: 3rem;
    background-color: var(--font-color-light);
    border: 2px solid var(--font-color-light);
    border-radius: 2rem;
    margin-bottom: 0.1rem;
}

.mouse span {
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    background-color: var(--background-color);
    border-radius: 2rem;
    margin: auto;
    animation: move-wheel 1s linear infinite;
}

.arrow span {
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border: 3px solid transparent;
    border-right-color: var(--font-color-light);
    border-bottom-color: var(--font-color-light);
    transform: rotate(45deg);
    animation: arrow-down 1s linear infinite;
}

@keyframes move-wheel {
    0% {
        opacity: 0.75;
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(1rem);
    }
}

@keyframes arrow-down {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}