.social_buttons a {
    margin-right: 15px;
    font-size: 20px;
}

.social_buttons > svg {
    color: var(--font-color-light);
}

.social_buttons a:hover {
    opacity: 1 !important;
    color: var(--font-color-light);
    font-size: 30px;
}