.aboutSection {
    width: 100wh;
    height: auto;
    background: var(--background-color);
    position: relative;
    padding: 0.9rem 3rem 0;
    margin-bottom: 5rem;
}

.aboutSection a {
    font-weight: bold;
}

.title {
    /* margin: 0; */
	color: var(--font-color);
	font-size: 4rem;
	text-align: center;
}

.aboutContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin: 0 auto;
}

.aboutLeftContents {
    /* width: 100wh;
    height: 100vh; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutLeftContents p {
    margin-left: 0;
    padding-left: 0;
}

.aboutLeftContents .aboutImg {
    /* width: 100%;
    height: 550px;
    position: absolute;
    z-index: -2;
    opacity: .4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background: url(../../../images/home_img.jpg); */

    /* background: url(../../../images/logo.png); */
}

.aboutImgTitle {
    font-size: 6rem;
    opacity: 0.2;
    font-weight: bold;
    white-space: nowrap;
    /* margin-top: -300px;
    display: flex; */
    justify-content: right;
    margin-top: -230px;
}

.aboutImgSubTitle {
    /* margin-top: 250px; */
}

.aboutContainer img {
    width: 70%;
}

.about-image {
    margin: 20px;
}

.about-btn {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .aboutSection {
        padding: 0.9rem 2rem 5rem;
        height: auto;
    }

    .aboutContainer {
        display: grid;
        grid-template-columns: none;
    }
    
}

@media only screen and (max-width: 700px) {
    .aboutSection {
        padding: 0.9rem 1rem 5rem;
    }

    .title {
        font-size: 2.5rem;
    }

    .subtitle {
        margin: 3rem;
        font-size: 2rem;
    }

    .aboutContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .aboutRightContents {
        margin: 0.5rem;
    }

    .aboutImgTitle {
        font-size: 3rem;
        margin-top: -130px;
    }

    .aboutRightContents h3 {
        justify-content: center;
        display: flex;
    }

    .tabContentInfo img {
        max-width: 200px !important;
    }
    
}