.footerSection {
    width: 100%;
    height: 80px;
    background: var(--background-color);
    position: relative;
}

.footerSocialMedia {
    align-items: flex-end;
}

.footerImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #e2e2eb;
}

.footerRightReserve p {
    margin: 0;
    padding: 0;
    font-size: small;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    gap: 2rem;
}

@media (max-width:1024px) {
    .footerSection {
        width: 100%;
        height: 100px;
        z-index: 100;
        position: relative;
        padding: 15px 15px 12rem 15px;
    }
}

@media (max-width:767px) {
    .footerSection {
        width: 100%;
        height: 180px;
        z-index: 100;
        position: relative;
        padding: 15px 15px 20rem 15px;
    }

    .footerRightReserve {
        display: flex;
        text-align: center;
    }

    .footerContent {
        display: flex;
        margin-right: 0;
        font-weight: 600;
        flex-direction: column;
    }

    .footerSocialMedia {
        width: 100%;
    }
}